.radial-bg {
  background: radial-gradient(
    circle,
    rgb(20, 1, 1) 29%, 
    rgb(19, 0, 0) 64%,
    rgb(1, 1, 22) 87%,
    rgb(1, 1, 23) 97%
  );
}

.glow-blue {
  text-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6, 0 0 30px #3b82f6;
}
.glow-white {
  text-shadow: 0 0px 40px #f807d8, 0 0 0px #ffffff, 0 0 10px #ffffff ;
}
.glow-pink {
  text-shadow: 0 0 10px #ec4899, 0 0 20px #ec4899, 0 0 30px #ec4899;
}

.miniTitle {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
  }
  
  .miniTitle::before,
  .miniTitle::after {
    content: ""; 
    flex: 1; 
    height: 1px;
    background: white; 
  }
  
  .miniTitle::before {
    margin-right: 10px;
  }
  
  .miniTitle::after {
    margin-left: 10px; 
  }
  
